.service-detail {
    transition: width .6s ease-in-out;
}
.service-detail p {
    max-width: 50rem;
}
.service-detail-wrapper {
    background-position: 70% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important; 
}
.service-detail:hover .service-detail-wrapper {
    width: 100% !important;
    visibility: visible !important;
    opacity: 1 !important;
}
.service-detail:hover p,
.service-detail:hover h3 {
    color: #00042a !important;
}
.service-detail svg {
    color: #00b9ff !important;
}
.service-detail:hover .overlay-circle-one,
.service-detail:hover .overlay-circle-two {
    visibility: visible !important;
    opacity: .5 !important;
}
.service-intro-column::before,
.service-intro-column::after,
.service_detail_before_effect::before {
    content: "";
    display: block;
    position: absolute;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    opacity: .3;
}
.service_detail_before_effect::before {
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    background: radial-gradient(ellipse at center, rgb(119, 17, 177, .8) 0%, rgba(4, 228, 255, 0) 70%);
}
.service-intro-column::before {
    bottom: 60%;
    left: -20%;
    background: radial-gradient(ellipse at center, rgba(4, 228, 255, 0.8) 0%, rgba(4, 228, 255, 0) 70%);
}
.service-intro-column::after {
    bottom: 45%;
    right: -20%;
    background: radial-gradient(ellipse at center, rgba(4, 228, 255, 0.8) 0%, rgba(4, 228, 255, 0) 70%);
}


@media (max-width: 1024px) {
    .service-detail-wrapper,
    .overlay-circle-one,
    .overlay-circle-two,
    .service_detail_before_effect::before,
    .service-intro-column::before,
    .service-intro-column::after {
        display: none !important;
    }

    .service-detail {
        width: 100% !important;
        padding: 2rem;
    }

    .service-detail:hover {
        background-color: #fff;
    }
}