.info-video-content:hover .info-video-icon {
    background-color: #fff !important;
    color: #113766 !important;
}

.info-video-content:hover .info-video-icon::before {
    visibility: visible;
    opacity: 1;
}

.ReactModal__Overlay {
    z-index: 999 !important;
}
.ReactModal__Content {
    position: absolute;
    inset: 30px !important;
    border: none !important;
}


@media (max-width: 768px) {
    .company_intro_video_after::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%, -50%);
        height: 100%;
        background: linear-gradient(0deg, #791BCE 25%, rgba(143, 53, 225, 0.51) 48%, rgba(143, 53, 225, 0) 100%) !important;
        transition: all 0.2s;
        width: 100vw !important;
    }
}


