/* ################################
Marquee Section
##################################*/
#marquee .marquee-wrapper {
    position: relative;
    overflow: hidden;
    margin: 0;
}

@keyframes scrollLeft {
    to {
        left: -300px;
    }
}

@keyframes scrollRight {
    to {
        right: -300px;
    }
}

#marquee .item img {
    filter: brightness(100%) saturate(0%);
    transition: all .3s ease-in-out;
}
#marquee .item img:hover {
    filter: none;
    cursor: pointer;
}
