.img-wrapper {
    height: 100vh;
    position: absolute;
    top: -110%;
    right: -40%;
    transform: rotate(15deg);
    width: 100vw;
    z-index: 0;
}
.img-box img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    display: block;
    padding: 3px 5px;
}

.boxes-1 img,
.boxes-3 img {
    animation: slideToBottom 22s infinite linear;
}
.boxes-2 img {
    animation: slideToTop 22s infinite linear;
}

@keyframes slideToBottom {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(600px);
    }
}

@keyframes slideToTop {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-600px);
    }
}

@media (max-width: 1024px) {
    .img-wrapper {
        width: 100vw;
    }
}

@media (max-width: 768px) {
    .img-wrapper {
        width: 100vw;
        top: -50%;
        left: 0%;
        transform: rotate(0deg);
    }
}

@media (max-width: 576px) {
    .img-wrapper {
        width: 100vw;
        top: -50%;
        left: 0%;
        transform: rotate(0deg);
    }
    .boxes-3 {
        display: none;
    }
}