.ReactModal__Overlay {
    z-index: 999 !important;
}
.ReactModal__Content {
    position: absolute;
    inset: 30px !important;
    border: none !important;
}
.modal-video {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-video-close {
    position: absolute;
    top: 10%;
    right: 5%;
}
.modal-video-close-icon {
    color: #fff;
    font-size: 2.5rem;
}