#contact {
    background: radial-gradient(circle, rgba(13, 56, 109, 1) 13%, rgba(37, 20, 98, 1) 34%, rgba(18, 21, 58, 1) 72%);
}

#contact .follow-us h5::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 2px;
    background-color: #0ad5f1;
    margin-right: 15px;
}

#contact form input,
#contact form textarea {
    background: none !important;
    border-radius: 0% !important;
    border: transparent !important;
    padding: 15px 0 !important;
    display: inline-block;
    color: #fff;
}

#contact form textarea {
    height: 200px;
}

#contact form input::placeholder,
#contact form textarea::placeholder {
    color: #fff !important;
    font-weight: 600 !important;
    font-size: 1.1rem !important;
}

#contact form input:focus,
#contact form textarea:focus {
    box-shadow: none !important;
}

#contact .input-group::after,
#contact .flag_dropdown_after::after {
    content: "";
    display: block;
    width: 95%;
    height: 1px;
    background-color: rgb(255, 255, 255, .4);
    transform: translateY(-20px);
}

#contact .flag_dropdown_after::after {
    transform: translateY(10px);
}

#contact .input-group-text {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    border-radius: var(--bs-border-radius);
    margin-bottom: 1.5rem;
    margin-right: .4rem;
    background: none !important;
    border: none !important;
    line-height: none !important;
}

#contact .input-group-textarea::after {
    transform: translateY(0px) !important;
}

#contact .input-group-textarea-text {
    margin-bottom: 8.8rem !important;
}

#contact .flag-dropdown {
    border: none !important;
}


.flag-dropdown,
.selected-flag:hover,
.react-tel-input .flag-dropdown.open .selected-flag {
    background: none !important;
}

.selected-flag {
    padding: 0 !important;
    margin: 0 !important;
}

.react-tel-input .flag {
    scale: 1.7;
    overflow: hidden;
}

.flag-dropdown.open ul.country-list li.search {
    border-bottom: 1px solid #04e4ff;
    width: 100%;
    z-index: 99
}

.flag-dropdown.open ul.country-list li.search input.search-box {
    color: #000 !important;
}