#info {
    overflow-x: hidden !important;
}
#infoVideo {
    position: relative;
    overflow: hidden;
}

.bg-overlay {
    background: linear-gradient(to right, rgb(121, 27, 206), rgb(34, 16, 86, .4));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-video-content {
    z-index: 9;
}
.info-video-content:hover {
    cursor: pointer;
}

.info-video-content:hover .info-video-icon {
    background-color: #fff;
    color: #113766;
}

.info-video-content:hover .info-video-icon::before {
    visibility: visible;
    opacity: 1;
}

.bg-expand-overlay {
    position: absolute;
    background: linear-gradient(rgb(0, 4, 42, .4), #791bce);
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#infoVideo .video-thumb {
    width: 250px;
    height: 120px !important;
    position: relative;
    padding: 0%;
}

#infoVideo .video-thumb video {
    position: absolute;
    top: 0% !important;
    left: 0% !important;
    bottom: 0% !important;
    right: 0% !important;
    width: 100%;
    height: 100%;
}

.info-video-icon {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    background-color: #113766 !important;
    font-size: 2rem;
    border-radius: 50%;
    padding: .5rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    box-shadow: rgba(255, 255, 255, 0.36) 0px 4px 15px 1px;
    z-index: 999 !important;
}

.info-video-icon::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: all .3s linear;
    box-shadow: rgb(17, 55, 102, .5) 0px 6px 12px 1px;
    visibility: hidden;
    opacity: 0;
}

.info-video-container {
    position: relative;
    overflow: hidden !important;
}
.info-video-after::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(250px, -50%);
    width: 100vw;
    height: 70px;
    background: linear-gradient(90deg, #791BCE 25%, rgba(143, 53, 225, 0.51) 48%, rgba(143, 53, 225, 0) 100%);
    z-index: 0;
}

@media (max-width: 768px) {
    .info-video-after::after {
        content: "";
        position: absolute;
        top: 90%;
        left: 0% !important;
        right: 0;
        transform: translate(0%, -50%);
        height: 180%;
        background: linear-gradient(0deg, #791BCE 25%, rgba(143, 53, 225, 0.51) 48%, rgba(143, 53, 225, 0) 100%) !important;
        transition: all 0.2s;
        width: 100vw !important;
    }
}