#footer {
    background: radial-gradient(circle, rgba(4, 115, 189, 1) 40%, rgba(1, 100, 166, 1) 78%) !important;
}

#footer .footer-menus-links::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    display: inline-block;
    width: 1px;
    height: 400px;
    background-color: #0195f1;
    transform: translateX(-35px);
}

@media (min-width: 1025px) and (max-width: 1280px) {
    #footer .footer-menus a {
        font-size: 1rem;
    }
}
@media (min-width: 992px) and (max-width: 1024px) {
    #footer .footer-menus a {
        font-size: .95rem;
    }
}
@media (max-width: 991px) {
    #footer .footer-menus a {
        font-size: .9rem;
    }
    #footer .footer-menus-links::before {
        height: 100%;
    }
}