.service_offer_card {
    z-index: 999 !important;
}
.isActiveService {
    position: relative;
    cursor: pointer;
}
.isActiveService::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 332px;
    height: 332px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 156, 255, 0.62) 0%, rgba(0, 156, 255, 0.32) 30.21%, rgba(0, 33, 76, 0) 100%) !important;
    filter: blur(8px);
    transform: translate(-50%, -50%) scale(1);
    opacity: .7;
    z-index: -5;
}
.service_portfolio_images img {
    transform: translateY(54%) perspective(1000px) rotateY(0deg) rotateX(0deg) rotate(0deg)
}